body {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    height: 100vh;
    margin: 0;
    background-color: #000000;
}

#game-container {
    position: relative;
    background-color: 000000;
    border: 10px solid green;
}

#arrows {
    display: none;
    flex-wrap: wrap;
    width: 450px;
    height: 450px;
    position: relative;
}

@media (max-width: 600px) {
    #arrows {
        display: flex;  /* Make sure it is visible */
        margin-top: 50px; /* This ensures the element is "below" another content if needed */
    }
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px; /* Adjust the size of each arrow */
    height: 150px; /* Adjust the size of each arrow */
    position: absolute;
    background-image: url("../assets/arrow.png");
    background-size: cover;
}
  
.up {
    top: 0px;
    left: 150px;
    transform: rotate(270deg);
}

.down {
    top: 150px;
    left: 150px;
    transform: rotate(90deg);
}

.left {
    top: 75px;
    left: 0px;
    transform: rotate(180deg);
}

.right {
    top: 75px;
    left: 300px;
}

.snake-body-part {
    position: absolute;
    background-color: green;
}

.food {
    position: absolute;
    background-image: url("../assets/pumpkin.png");
    background-size: 100% 100%;
}

.text {
    color: #007700;
}