body {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    height: 100vh;
    margin: 0;
    background-color: #000000;
}

/* .border-container {
    position: relative;
    width: 100%;
    height: 100%;
} */

.border {
    position: relative;
    top: 0;
    left: 0;
    width: 960px;
    height: 320px;
    margin-bottom: 40px;
    background-color: 000000;
    border: 10px solid green;
}

#snake-head {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: green;
}

.snake-body {
    width: 50px;
    height: 50px;
    background-color: green;
}

.title {
    color: #007700;
}